<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="Grade" type="GradleRunConfiguration" factoryName="Gradle">
    <ExternalSystemSettings>
      <option name="exe